%p= link_to "Create a survey", new_admin_survey_path

%table#active_surveys
  %thead
    %tr
      %th Name
      %th
      %th Phone number
      %th Active
      %th Completed
      %th Sent messages
      %th Received messages
    - current_admin.surveys.modifiable.each do |survey|
      %tr
        %td= survey.name
        %td= link_to "Edit", edit_admin_survey_path(survey)
        %td= survey.phone_number.humanize
        %td= survey.active?
        %td false
        %td= survey.outgoing_text_messages.count
        %td= survey.incoming_text_messages.count
