= form_for [:admin, survey], builder: TwoColumnFormBuilder do |f|
  = f.hidden_field :kind, name: 'kind', value: params[:kind]
  = f.text_field :name, size: 55, autofocus: true
  = fields_for survey, builder: ActionView::Helpers::FormBuilder do |simple|
    .line
      .col1
        Sampling
      .col2
        =simple.number_field :samples_per_day, min: 1, max: 99
        =simple.label :samples_per_day, "times per day,"
        =simple.number_field :mean_minutes_between_samples, min: 1, max: 9999
        =simple.label :sample_minutes_plusminus, "±"
        =simple.number_field :sample_minutes_plusminus, min: 0, max: 9999
        minutes between samples
  = f.number_field :sampled_days, label: "Number of days to sample"
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Central Time (US & Canada)"
  = f.text_field :twilio_account_sid, label: 'Twilio account SID', size: 55, data: {twilio_account_check_url: admin_twilio_account_url, status_element: '#twilio-status', sid_field: '#survey_twilio_account_sid', token_field: '#survey_twilio_auth_token', phone_number_field: '#survey_phone_number'}
  = f.text_field :twilio_auth_token, size: 40, follow_field_with: '<span id="twilio-status" id="status-light"></span>'.html_safe
  = f.text_field :phone_number, data: {phone_picker: true}, value: survey.phone_number.humanize
  = f.text_area :help_message, label: raw("Help message for participants<br/>HTML OK"), rows: 5, cols: 60, value: survey_help_with_default(survey)
  = f.text_area :welcome_message, rows: 5, cols: 60, follow_field_with: '<div class="instructions">Template fields: {{samples_per_day}}, {{first_date}}, {{last_date}}, {{login_code}}</div>'.html_safe
  - if survey.respond_to? :url
    = f.text_field :url, label: 'Main EMA survey URL', size: 55
    .line
      .col1
      .col2.instructions
        Replaces {{PID}} with participant ID and {{SMID}} with scheduled message id for passing into external systems
  - if survey.respond_to? :url_game_survey
    = f.text_field :url_game_survey, label: 'Game survey URL', size: 55, autofocus: true
    .line
      .col1
      .col2.instructions
        Also replaces {{PID}} with participant ID and {{SMID}} with scheduled message id for passing into external systems
  - if survey.respond_to? :survey_questions
    = f.fields_for :survey_questions, survey.survey_questions do |question_form|
      = question_form.text_field :question_text, size: 80, maxlength: 140
  = f.check_box :development_mode, label: "Development mode", follow_field_with: '<div class="instructions">This is for testing, and enables the simulation of messages to and from participants. Don\'t enable this unless you know what you are doing!</div>'.html_safe
  %ul.twilio_errors
    - (flash[:twilio_errors] || []).each do |err|
      %li #{err}

  = f.submit "Save"
