- @page_title = "New survey"

%p Choose a kind of survey to create:
%ul
  %li= link_to "SimpleSurvey", new_admin_survey_path(kind: "SimpleSurvey")
  %li= link_to "LinkSurvey", new_admin_survey_path(kind: "LinkSurvey")
  %li= link_to "AfchronGameSurvey", new_admin_survey_path(kind: "AfchronGameSurvey")

%h2 Create a #{params[:kind]}

= render 'form', survey: @survey
