%h1 Please set your availability for text-messeging.
%p This is a temporary interface. This interface will improve before we run non-pilot participants.
%p For now, please enter your availability for each day in the form, 8:00 AM - 12:00 PM, 3:00 PM - 9:00 PM. Let Drew know if you experience any difficulties, #{mail_to "asfox@wisc.edu"}.
%p You can return to this page at any point to update your availability.

= form_for @participant, url: survey_path(current_survey), builder: TwoColumnFormBuilder do |f|
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: "Central Time (US & Canada)"
  = f.fields_for :schedule_days, builder: ActionView::Helpers::FormBuilder do |day_form|
    .line
      .col1
        %label= day_form.object.date.strftime("%A, %B %-d")
        = day_form.hidden_field :date
      .col2
        = day_form.text_field :time_ranges_string, size: 72
  = f.submit "Save my settings"
  - if flash[:save_message]
    .line
      .col1 &nbsp;
      .col2= flash[:save_message]