%h2 
  %a{href: admin_jobs_path}
    Job status
  of: #{@kind} jobs

%table.listing
  %tr
    %th id
    %th priority
    %th run_at
    %th locked_at
    %th failed_at
    %th attempts
    %th last_error
    %th handler
  - @jobs.each do |j|
    %tr
      %td= j.id
      %td= j.priority
      %td
        %span{title: j.run_at}
          - Time.use_zone("Central Time (US & Canada)") do
            #{j.run_at.localtime}
      %td= j.locked_at
      %td= j.failed_at
      %td= j.attempts
      %td= j.last_error
      %td 
        %span{title: j.handler} Hover for YAML
  
