%h2
  Editing participant #{number_with_external_key(current_participant)}
  on survey
  %a{href: admin_survey_participants_path(current_survey)}
    #{current_survey.name}

= form_for [:admin, current_survey, current_participant], builder: TwoColumnFormBuilder do |f|
  = f.text_field :phone_number, autofocus: true, value: current_participant.phone_number.humanize
  = f.text_field :external_key, label: "Participant key"
  = allow_texting_check_box(f)

  = f.submit "Save settings"
  .line
    %br
    .col1 &nbsp;
    .col2
      = submit_tag "Delete this participant", :name => :delete
      = check_box_tag :confirm_delete
      %label{:for => :confirm_delete} Really delete this participant!
  - if flash[:save_message]
    .line
      .col1 &nbsp;
      .col2= flash[:save_message]
