= link_to "Back", admin_root_path

%h3 Add a participant
= form_for current_participant, url: admin_survey_participants_path(current_survey), builder: TwoColumnFormBuilder  do |f|
  = f.text_field :phone_number
  = f.check_box :send_welcome_message, label: "Send welcome text"
  .line
    .col1 &nbsp;
    .col2
      %h5 Optional fields
  = f.text_field :schedule_start_date, label: "Start date"
  = f.text_field :schedule_human_time_after_midnight, label: "Start time (eg: 9 am)"
  = f.submit "Create participant"


%table
  %tr
    %th Phone number
    %th Active
    %th Login code
    %th
  - current_survey.participants.each do |participant|
    %tr
      %td= participant.phone_number.humanize
      %td= participant.active?
      %td= participant.login_code
      %td= link_to "View details", admin_survey_participant_path(current_survey, participant)