- @page_title = "Participants for #{current_survey.name}"
%h2 
  Participants for 
  %a{href: admin_survey_path(current_survey)}
    #{current_survey.name}
%a.btn.btn-primary{href: new_admin_survey_participant_path(current_survey)}
  Add a participant


%div.alert
  =flash[:save_message]
- if @participant.errors.any?
  %div.alert.alert-danger
    %ul
      - @participant.errors.full_messages.each do |m|
        %li= m

%table.listing
  %tr
    %th Phone number
    %th Active
    %th Login code
    %th Participant key
    %th
    %th
    %th
    %th
  - current_survey.participants.each do |participant|
    %tr
      %td= participant.phone_number.humanize
      %td= participant.active?
      %td= participant.login_code
      %td= participant.external_key
      %td
        %a.btn.btn-warning{href: edit_admin_survey_participant_path(current_survey, participant)}
          Edit
      %td
        %a.btn.btn-primary{href: admin_survey_participant_path(current_survey, participant)}
          View messages
      %td
        %a.btn.btn-dark{href: admin_survey_participant_simulate_path(current_survey, participant)}
          Simulator
      %td
        %a.btn.btn-secondary{href: admin_survey_participant_path(current_survey, participant, format: :csv)}
          Download data
