= link_to "Back", admin_root_path

= form_for [:admin, current_survey, current_survey.participants.build] do |f|
  = f.text_field :phone_number
  = submit_tag "Save"

%table
  %tr
    %th Phone number
  - current_survey.participants.each do |ppt|
    %tr
      %td= ppt.phone_number.humanize