= link_to "Back", admin_root_path

%table
  %tr
    %th Phone number
    %th Active
    %th Login code
    %th
  - current_survey.participants.each do |participant|
    %tr
      %td= participant.phone_number.humanize
      %td= participant.active?
      %td= participant.login_code
      %td= link_to "View details", admin_survey_participant_path(current_survey, participant)