= link_to "◀ Participant list", admin_survey_participants_path(current_survey)
%h2 Participant #{number_with_external_key(current_participant)}
%h3 Schedule
%ol.schedule
  - current_participant.schedule_days.each do |schedule_day|
    %li #{schedule_day.participant_local_date}: #{schedule_day.time_ranges_string}

%h3 Text messages
%table.messages
  %tr
    %th Delivered at
    %th Direction
    %th Message
  - current_participant.text_messages.each do |message|
    %tr
      %td.nowrap= message.delivered_at.in_time_zone(current_survey.time_zone).to_s(:us_time)
      %td.nowrap= message.direction
      %td= message.message
