!!!html5
%html
  %head{class: Rails.env}
    %meta{charset: 'utf-8'}
    %title= @page_title || "Welcome"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .page{class: grid_if_development}
      .top-nav= link_to "Log out", admin_logout_path if logged_in?
      = yield
