!!!html5
%html
  %head{class: Rails.env}
    %meta{charset: 'utf-8'}
    %title= @page_title || "Welcome"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{href: "https://fonts.googleapis.com/css?family=Roboto", rel: "stylesheet"}
    = csrf_meta_tags
  %body
    .page{class: @page_class}
      = yield
      .help
        - if current_survey
          = raw current_survey.help_message
